///BASE////
* {
    box-sizing: border-box;
}

////LAYOUT///

body{
    
    padding:2rem;
    font-family: Roboto;
    background-color:#0B132B;
    max-width:1400px;
    margin:auto;
    
    .header{
        margin-bottom:5rem;
        
        h1{
            margin-bottom:3rem;
            color:white;
            text-align: center;
            text-transform: uppercase;
        }
        
        .nav{
            ul{
                display: flex;
                justify-content: space-around;
                list-style:none;
                
                .link{
                    a{
                        color: white;
                        text-decoration:none;
                        text-transform: uppercase;
                        transition: all ease-in-out 0.2s;
                        
                        &:hover{
                            color:#D4B530;
                        }
                    }
                }    
            }
            
        }
        
    }
    
}

