{% extends "layout.html.twig" %}

{% block content %}
    <h2>OWLS VS PARROTS</h2>
    <p>04/01/2024</p>
    <div class="flex-center">
        <img src="#" alt=""></img>
        <img src="#" alt=""></img>
    </div>
    <h3>LES PERFORMANCES</h3>
    <table border="1">
      <thead>
        <tr>
          <th>PLAYER</th>
          <th>TEAM</th>
          <th>POINTS</th>
          <th>ASSISTS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ladso</td>
          <td>Angry Owls</td>
          <td>13</td>
          <td>3</td>
        </tr>
        <tr>
          <td>RedWitch</td>
          <td>Angry Owls</td>
          <td>11</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Soltan</td>
          <td>Angry Owls</td>
          <td>7</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Britus</td>
          <td>Chatty Parrots</td>
          <td>13</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Dundy</td>
          <td>Chatty Parrots</td>
          <td>7</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Nerdex</td>
          <td>Chatty Parrots</td>
          <td>9</td>
          <td>6</td>
        </tr>
      </tbody>
    </table>
   

{% endblock %}
